html {
  font-family: "Roboto";
}

h1,
h2,
h3 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #5570FF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 1.5rem;
  color: #34B132;
}

h3 {
  font-size: 1.25rem;
  color: #8325E0;
}

p {
  line-height: 1.5rem;
  text-align: justify;
  color: #111111;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  color: #5570FF;
  font-weight: 700;
  margin-bottom: 1rem;
}

input {
  background: #fefefe;
  border: 2px solid #5570FF;
  border-radius: 5px;
  height: 20px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #5570FF;
}

.botao__principal {
  height: 50px;
  background-color: #5570FF;
  border: none;
  color: #fefefe;
}

a {
  line-height: 1.5rem;
  text-align: justify;
  color: #111111;
  text-decoration: none;
  font-weight: 700;
}

span {
  color: #fefefe;
}

.icone-alternativo {
  color: #111111;
}

header {
  z-index: 2;
  position: absolute;
  height: 15vh;
  width: 100vw;
}
header .container {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.fundo {
  width: 100vw;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.fundo .fundo__inicio {
  width: 100%;
  height: 100%;
  z-index: 1;
}

main {
  position: absolute;
  z-index: 2;
  top: 75px;
  margin-top: 1.5rem;
  padding: 0rem 2rem 0rem 2rem;
}
main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#menuLateral {
  display: none;
}
#menuLateral .menuLateral__container {
  position: sticky;
  z-index: 3;
  height: 100vh;
  left: 50vw;
  width: 50vw;
  background: #fefefe;
  padding: 1rem;
  box-sizing: border-box;
}
#menuLateral .menuLateral__container .container__menu {
  margin: 5% 0% 0% 86%;
}
#menuLateral .menuLateral__container .menuLateral__container__lista {
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-around;
}
#menuLateral .menuLateral__container .menuLateral__container__lista .menuLateral__container__lista__item {
  display: flex;
  align-items: center;
  color: #5570FF;
  font-weight: 700;
}
#menuLateral .menuLateral__container .menuLateral__container__lista .menuLateral__container__lista__item span {
  margin-right: 1rem;
}

header .container .container__logo {
  width: 25vw;
  box-sizing: border-box;
  height: 100%;
}
header .container .container__logo .container__logo__imagem {
  width: 75%;
  height: 100%;
  box-sizing: border-box;
}

main .container {
  width: 100%;
}
main .container p,
main .container h1 {
  margin: 0.5rem 0rem;
  color: #fefefe;
}
main .container .container__formLogin {
  background-color: #fefefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container .container__formLogin .container__formLogin__form {
  margin-top: 1rem;
}
main .container .container__formLogin a {
  color: #8325E0;
}

/*# sourceMappingURL=styles.css.map */
