html {
  font-family: "Roboto";
}

main {
  margin: 125px auto;
  width: 90vw;
}

section {
  margin-top: 1rem;
}

p, label {
  color: #171717;
  line-height: 1.5rem;
  text-align: justify;
  margin-top: 1rem;
}

h1, h2, h3, label {
  color: #5570FF;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}

h2 {
  color: #34B132;
  font-size: 1.5rem;
}

h3, label {
  color: #8325E0;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: #171717;
}

img {
  margin-top: 1rem;
  width: 100%;
}

i {
  color: #5570FF;
  font-size: 1.5rem;
  font-family: "Roboto";
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

input, button {
  border-radius: 5px;
  border: 5px solid #5570FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #5570FF;
  font-weight: 700;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}
input:hover, button:hover {
  border-color: #34B132;
  color: #34B132;
  cursor: pointer;
  transition: 0.25s;
}

label {
  text-align: justify;
}

@media screen and (min-width: 768px) {
  main {
    position: absolute;
    width: 60vw;
    left: 17.5vw;
    right: 22.5vw;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1024px) {
  main {
    top: 125px;
  }
}
.btn-secundario {
  background-color: #5570FF;
  color: #fefefe;
}
.btn-secundario:hover {
  background-color: #34B132;
  color: #fefefe;
  transition: 0.25s;
  cursor: pointer;
}

.texto-corSecundaria {
  color: #34B132;
}

.texto-branco {
  color: #fefefe;
}

.texto-negrito {
  font-weight: 700;
}

.texto-centralizado {
  text-align: center;
}

.perfil__nome, .perfil__cargo {
  color: #5570FF;
  font-weight: 700;
}

.perfil__cargo {
  color: #34B132;
}

.selecionado {
  color: #34B132;
  border-left: #34B132;
}

.header {
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background-color: #fefefe;
  top: 0rem;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    width: 100vw;
    height: 100px;
  }

  #menu {
    display: none;
  }
}
.feed {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #5570FF;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
}

.menuLateral {
  display: none;
  width: 70vw;
  margin-left: 30vw;
  padding: 1rem;
  position: fixed;
  top: 0px;
  background-color: #5570FF;
  height: 100vh;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 4;
}

@media screen and (min-width: 768px) {
  .menuLateral {
    margin-left: 0vw;
    margin-right: 30vw;
  }
}
.menuDesktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menuDesktop {
    display: flex;
    width: 16.5vw;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 87.5vh;
    margin-top: 100px;
    box-sizing: border-box;
  }
  .menuDesktop ul a i {
    margin: 0.5rem;
  }
}
.formChat {
  position: fixed;
  top: 500px;
  height: 100vh;
  width: 100vw;
  background-color: #fefefe;
  margin: 0px;
}
.formChat input {
  width: 90%;
  margin-left: 5%;
}

@media screen and (min-width: 320px) {
  .patrocinios {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .patrocinios {
    width: 21vw;
    position: fixed;
    left: 78vw;
    top: 100px;
    display: flex;
    flex-direction: column;
    height: 330px;
    padding-left: 1vw;
    border-left: 2px solid #c8c8c8;
  }
  .patrocinios h2 {
    border-bottom: 2px solid #c8c8c8;
    width: 90%;
    text-align: center;
    color: #c8c8c8;
    padding-bottom: 1rem;
  }
  .patrocinios ul {
    overflow-y: scroll;
  }
  .patrocinios:hover {
    border-left: 2px solid #34B132;
  }
  .patrocinios:hover h2 {
    border-bottom: 2px solid #34B132;
    color: #34B132;
  }
}
@media screen and (min-width: 320px) {
  .eventosNoticias {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .eventosNoticias {
    width: 21vw;
    position: fixed;
    top: 425px;
    left: 78vw;
    height: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-left: 2px solid #c8c8c8;
  }
  .eventosNoticias h2 {
    border-bottom: 2px solid #c8c8c8;
    width: 90%;
    text-align: center;
    color: #c8c8c8;
    padding-bottom: 1rem;
  }
  .eventosNoticias:hover {
    border-left: 2px solid #34B132;
  }
  .eventosNoticias:hover h2 {
    border-bottom: 2px solid #34B132;
    color: #34B132;
  }
}
.post {
  border-left: 2px solid #c8c8c8;
}
.post:hover {
  border-left: 2px solid #34B132;
}

.header__logo {
  width: 20%;
  box-sizing: border-box;
}
.header__logo a, .header__logo .logo {
  height: calc(100px - 1rem);
  margin: auto 0;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 100%;
    height: 25vh;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    width: 15%;
    height: 100px;
  }
}
@media screen and (min-width: 320px) {
  .header__navagacao {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .header__navagacao {
    flex-direction: column;
    height: 75vh;
  }
}
@media screen and (min-width: 1024px) {
  .header__navagacao {
    flex-direction: row;
    height: 100px;
    align-items: center;
    width: 20%;
  }
  .header__navagacao a i:hover {
    color: #34B132;
    transition: 0.25s;
  }
  .header__navagacao .menu {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  .header__pesquisa {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__pesquisa {
    display: flex;
    width: 60%;
  }
  .header__pesquisa form {
    flex-direction: row;
    width: 100%;
  }
  .header__pesquisa form .header__pesquisa__campo {
    width: 75%;
    margin: 0;
    margin-right: 5%;
  }
  .header__pesquisa form .header__pesquisa__submit {
    width: 20%;
    margin: 0;
  }
}
.post__botoes {
  display: flex;
  justify-content: space-between;
}
.post__botoes input, .post__botoes button {
  width: 45%;
}

.feed__perfil {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .feed__perfil {
    width: 70%;
  }
}
.perfil__imagem {
  border-radius: 50%;
  border: 2px solid #5570FF;
  box-sizing: border-box;
  height: 70%;
  width: 30%;
  margin: auto 0;
}

@media screen and (min-width: 1024px) {
  .perfil__imagem {
    width: 15%;
  }
}
.perfil__informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

@media screen and (min-width: 1024px) {
  .perfil__informacoes {
    width: 80%;
  }
}
.feed__interacoes {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 40%;
}
.feed__interacoes i {
  font-size: 1.25rem;
}
.feed__interacoes i:hover {
  transition: 0.25rem;
  color: #34B132;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .feed__interacoes {
    width: 25%;
  }
}
.feed__post {
  border-left: 2px solid #c8c8c8;
  box-sizing: border-box;
  padding: 0.5rem;
}
.feed__post:hover {
  border-left: 2px solid #34B132;
}

.feed_comentario {
  width: 90%;
  margin: 0 auto;
}

.perfil img {
  width: 50%;
  height: 150px;
  margin: 0 auto;
  border: 2px solid #5570FF;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.footer img {
  width: 50%;
}

.dicas__titulo {
  display: flex;
  align-items: center;
}

.menuLateral__lista {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menuLateral__lista li {
  display: flex;
  margin-bottom: 1.25rem;
}
.menuLateral__lista li .menuBar {
  color: #fefefe;
}
.menuLateral__lista li a {
  display: flex;
  color: #fefefe;
  width: 100%;
  font-size: 2rem;
  align-items: center;
}
.menuLateral__lista li a i {
  color: #fefefe;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .menuLateral__lista i, .menuLateral__lista li {
    text-align: left;
  }
}
.menuDesktop__lista {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menuDesktop__lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    overflow-y: scroll;
  }
  .menuDesktop__lista li {
    border-left: 5px solid #5570FF;
    height: 50px;
  }
  .menuDesktop__lista li:hover {
    border-left: 5px solid #34B132;
  }
  .menuDesktop__lista li:hover a {
    transition: 0.5s;
    margin-left: 1rem;
    color: #34B132;
  }
  .menuDesktop__lista li:hover a i {
    color: #34B132;
  }
  .menuDesktop__lista li a {
    color: #5570FF;
    font-weight: 700;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .pratrocinio__patrocinador {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 1rem;
  }
  .pratrocinio__patrocinador .patrocinador__logo {
    width: 40px;
    border: 2px solid #c8c8c8;
    border-radius: 50%;
    margin-right: 1rem;
    height: 40px;
    display: flex;
    align-items: center;
  }
  .pratrocinio__patrocinador .patrocinador__logo img {
    opacity: 0.5;
    width: 60%;
    position: relative;
    left: 20%;
    margin: 0;
  }
  .pratrocinio__patrocinador .patrocinador__titulo {
    margin: 0;
    color: #c8c8c8;
  }
  .pratrocinio__patrocinador:hover {
    margin-left: 1rem;
    transition: 0.5s;
  }
  .pratrocinio__patrocinador:hover .patrocinador__logo {
    border: 2px solid #8325E0;
  }
  .pratrocinio__patrocinador:hover .patrocinador__titulo {
    color: #8325E0;
  }
  .pratrocinio__patrocinador:hover img {
    opacity: 1;
  }
}
.eventosNoticias__lista {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: scroll;
}
.eventosNoticias__lista li {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 1rem;
}
.eventosNoticias__lista li a {
  color: #c8c8c8;
  display: flex;
  align-items: center;
}
.eventosNoticias__lista li a i {
  margin-right: 1rem;
  color: #c8c8c8;
}
.eventosNoticias__lista li a:hover {
  margin-left: 2rem;
  transition: 0.5s;
  color: #8325E0;
}
.eventosNoticias__lista li a:hover i {
  color: #8325E0;
}

/*# sourceMappingURL=styles.css.map */
