@use '../variaveis'
.container__form__chat
    bottom: 0px
    display: flex
    background-color: variaveis.$primeira-cor
    width: 100vw
    position: fixed
    height: 150px                        