.cabecalho
    align-items: center
    padding: 1rem
    box-sizing: border-box
    justify-content: space-between
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    .cabecalho__logo
        width: 25%
        img
            width: 100%
    .cabecalho__pesquisa
        display: none
    .cabecalho__navegacao
        width: 50%
        ul
            display: flex
            flex-direction: row
            justify-content: space-between