@use '../variaveis'

header,
.header__interno
    z-index: 3
    position: fixed
    height: 15vh
    width: 100vw
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    background: variaveis.$branco
    top: 0px
    .container
        display: flex
        padding: 1rem
        box-sizing: border-box
        align-items: center
        justify-content: space-between
        height: 100%
        align-items: center
.header__interno
    .container
        width: 100vw