@use '../variaveis'

.container
    .container__logout
        a
            text-align: center
            width: 80%
            button
                margin-top: 1rem
                width: 100%
                border-radius: 5px
                font-weight: 700