@use '../variaveis'
//Estilos padrões das imagens
img
    width: 100%
//Estilos padrões dos textos
html
    font-family: 'Roboto'
span
    color: variaveis.$primeira-cor
h1
    color: variaveis.$primeira-cor
    font-weight: 700
    font-size: 1.5rem
    text-align: center
    margin-top: 1rem
textarea
    border: 5px solid variaveis.$primeira-cor
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    color: variaveis.$primeira-cor
    background-color: variaveis.$branco
    font-size: 1rem
    padding: 0.5rem
    margin-top: 1rem
    font-weight: 700
    text-align: justify
    box-sizing: border-box
    width: 100%
input
    border: 5px solid variaveis.$primeira-cor
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    color: variaveis.$primeira-cor
    background-color: variaveis.$branco
    font-size: 1rem
    padding: 0.5rem
    margin-top: 1rem
    font-weight: 700
    text-align: justify
p
    line-height: 2rem
    text-align: justify