header
    .container
        .container__logo
            width: 25vw
            box-sizing: border-box
            height: 100%
            .container__logo__imagem
                width: 75%
                height: 100%
                box-sizing: border-box