@use '../variaveis'

#menuLateral,
#menuLateral__interno
        .container__menu
            margin: 9% 0% 0% 87%
        .menuLateral__container__lista
            display: flex
            flex-direction: column
            height: 90%
            justify-content: space-around
            .menuLateral__container__lista__item
                display: flex
                align-items: center
                color: variaveis.$primeira-cor
                font-weight: 700
                span
                    margin-right: 1rem