@use '../variables'

.menuLateral__lista
    box-sizing: border-box
    width: 100%
    display: flex
    flex-direction: column
    li
        display: flex
        margin-bottom: 1.25rem
        .menuBar
            color: variables.$branco
        a
            display: flex
            color: variables.$branco
            width: 100%
            font-size: 2rem
            align-items: center
            i
                color: variables.$branco
                margin-right: 1rem

@media screen and (min-width:768px)
    .menuLateral__lista
        i, li
            text-align: left