@use '../../../variables'

.perfil__informacoes
    display: flex
    flex-direction: column
    justify-content: center
    .perfil__nome, .perfil__cargo
        color: variables.$primeira-cor
        font-weight: 700
    .perfil__cargo
        color: variables.$segunda-cor