@import '../variaveis.scss';
@import '../base/base.scss';

.perfil-conta{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    img{
        width: 50%;
        margin: 0% 25%;
    }
}