@use '../variaveis'
#menuLateral
    background-color: variaveis.$primeira-cor
    position: absolute
    top: 0px
    padding: 1rem
    box-sizing: border-box
    width: 75%
    left: 25%
    display: none
    height: 100vh
    .menuBar
        color: variaveis.$branco
        text-align: right
    ul
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 100%
        box-sizing: border-box
        a
            color: variaveis.$branco
            font-weight: 700
            line-height: 3rem
            li
                display: flex
                align-items: center
                span
                    margin-right: 1rem
                    color: variaveis.$branco
