@use '../variables'
//botões

.btn-secundario
    background-color: variables.$primeira-cor
    color: variables.$branco

.perfil__nome, .perfil__cargo
    color: variables.$primeira-cor
    font-weight: 700
.perfil__cargo
    color: variables.$segunda-cor