@use '../variables'
//botões

.btn-secundario
    background-color: variables.$primeira-cor
    color: variables.$branco
    &:hover
        background-color: variables.$segunda-cor
        color: variables.$branco
        transition: 0.25s
        cursor: pointer

//Texto

.texto-corSecundaria
    color: variables.$segunda-cor
.texto-branco
    color: variables.$branco

.texto-negrito
    font-weight: 700
.texto-centralizado
    text-align: center

.perfil__nome, .perfil__cargo
    color: variables.$primeira-cor
    font-weight: 700
.perfil__cargo
    color: variables.$segunda-cor

//texto selecionado

.selecionado
    color: variables.$segunda-cor
    border-left: variables.$segunda-cor